@charset "UTF-8";

body {
    font-size: 13px;
    color: #191919;
    font-family: 'SMTOWN','Noto Sans KR',sans-serif,"sans-serif","AppleGothic","applegothic";
    font-weight: 400;
    line-height: 1;
}

#wrapper{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 88px;
}

#vcenter-wrap {
    display: -ms-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

#loginContent{
    width: 420px;
    margin: -150px auto 0;
}

#loginBox{
    clear: both;
}

#email{
    margin-bottom: 10px;
}

#userId{
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 17px 1px;
    font-size: 15px;
    color: #191919;
    font-family: 'Noto Sans KR';
}

#password{
    margin-bottom: 10px;
}

#userPassword{
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 17px 1px;
    font-size: 15px;
    color: #191919;
    font-family: 'Noto Sans KR';
}

#loginMaintain{
    display: inline-block;
    text-align: left;
    min-height: 50px;
    line-height: 20px;
    cursor: pointer;
    background-size: 50px;
    padding-left: 33px;
    width: 100%;
}

#loginBtn{
    display: block;
    background: #191919;
    color: #fff;
    font-family: 'Noto Sans KR';
    font-weight: 500;
    width: 100%;
    height: 50px;
}

#loginMaintainImg{
    display: inline-block;
    display: flex;
}

#loginMaintain{
    display: inline-block;
    margin-left: 50px;
}
.findWrap{
    margin: 22px 0 0;
}

.findWrap a.joinBtn {
    float: left;
    font-family: 'Noto Sans KR';
    color: #666;
}

.findWrap a.pwBtn {
    float: right;
    font-family: 'Noto Sans KR';
    color: #666;
}



h2 {
    text-align: left;
    display: block;
    border-bottom: 2px solid #191919;
    font-size: 35px;
    margin-bottom: 50px;
    padding-bottom: 23px;

}