@charset "UTF-8";



html{
    /* height: 1024px;
    width: 768px; */
    margin: 0px 0px 0px 0px;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#head{
    background-color: white;
    height: 88px;;
    position: relative;
    border-bottom: 2px solid #1e2231;


}

header{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%
    
}

#translator{
  position: relative;
  left: 10px;
}

#headimg{
    position: absolute;
    height: 72px;
    width: 145px;
    margin-top: 17px;
    margin-left: 50px;
}
#headimg2{
    position: absolute;
    height: 74px;
    margin-top: 15px;
    margin-left: 220px;
}

#headerh1{
    margin: 0;
    text-align: center;
}


#navigation {
  position: relative;
  left: 800px;
  top: 40px;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: #1e2231;
}

#navigation > ul > li {
  float: left;
  position: relative;
  width: 15.5%;
  height: 100%;
  left: -220px;
  vertical-align: middle;
}

ul{
    list-style:none;
  }
  
  #navigation > ul > li > a{
    font-size: 25px;
    font-weight: 700;
    font: ;
  }
  
  
  #wrapper{
      height: auto;
      min-height: 100%;
      padding-bottom: 70px;
    }
  footer{
    height: 70px;
    position : relative;
    transform : translateY(-100%);
    border-top: 2px solid #202231;
  }


  #banner1{
    margin-top: 105px;

  }

  #VisaNavigator{
    background-color: bisque;
    height: 180px;
    width: 1440px;
    margin: 0 auto;
  }

  #translrator{
    height: 20px;
    width: 20px;
  }

  #navigationdiv{
    display: inline-block;
  }